.explore-more {
    position: relative;
    width: 100%;
    height: 930px;
}

.explore-more-row-1 {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 450px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/

.big-glass-card {
    border: 1px solid rgb(60, 60, 60);
    border-radius: 20px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    width: 560px;
    height: 385px;
    padding: 20px;
}

.EM-left-box {
    left: 70px;
}

.EM-left-box_left_side {
    color: white;
    overflow: hidden;
    letter-spacing: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

.my_content {
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    width: 287px;
    overflow-y: scroll;
}

.EM-left-box_left_side ::-webkit-scrollbar {
    display: none;
}


.xxyyzz {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.left_content {
    height: 100px;
    width: 60px;
}



#small_circle {
    border-radius: 50%;
    position: relative;
    width: 50%;
    height: 33%;
    border: none;
    background-color: rgba(56, 54, 51, 0.433);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.small_circle_tz {
    overflow: hidden;
    height: 100px;
    width: 223px;
}

.etete {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    color: rgba(245, 245, 245, 0.722);
    margin: 6px 0px;
    line-height: 94%;
}

.etete span {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: gray;
}

/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/


.small_cards {
    position: relative;
    width: 220px;
    height: 340px;

    border-radius: 15px;
    background: linear-gradient(196.23deg, #000046, #1cb5e0);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}




.EM-left-box_Right_side {
    display: flex;
    justify-content: center;
    align-items: center;
}


.EM-left-box_Right_side img {
    width: 135px;
    height: 164px;
}

.EM-left-box_Right_side h3 {
    font-size: 25px;
    color: white;
    line-height: 103%;
    letter-spacing: 0.1em;
    margin: 0px;
}

.EM-left-box_Right_side p1 {
    font-size: 16px;
    color: black;
    line-height: 103%;
    letter-spacing: 0.1em;
}

.EM-left-box_Right_side p2 {
    font-size: 12px;
    text-align: left;
    color: rgb(25, 25, 26);
    line-height: 18px;
    letter-spacing: 0.1em;
    display: block;
    margin-left: 12px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.Personal-Loan-button {
    font-size: 14px;
    color: white;
    background-color: black;
    line-height: 103%;
    letter-spacing: 0.1em;
}


/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/

.EM-right-box {
    right: 70px;
}


/**********************************************************/
/**********************************************************/
/**********************************************************/
.EM-right-box_left_side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.terdxs {
    
    box-shadow: rgba(72, 142, 211, 0.348) 0px 8px 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
    transition: transform 0.5s;
}

.terdxs:hover{
    transform: scale(1.1);

}
.abc {
    height: 170px;
    overflow: hidden;
}

.abcd {
    height: 120px;
    overflow: hidden;
}

.abcde {
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abc img {
    width: 135px;
    height: 164px;
}

.abcd h3 {
    font-size: 25px;
    color: white;
    line-height: 103%;
    letter-spacing: 0.1em;
    margin: 0px;
}

.abcd p1 {
    font-size: 16px;
    color: black;
    line-height: 103%;
    letter-spacing: 0.1em;
}

.abcd p2 {
    font-size: 12px;
    text-align: left;
    color: rgb(25, 25, 26);
    line-height: 18px;
    letter-spacing: 0.1em;
    display: block;
    margin-left: 12px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}




/**********************************************************/
/**********************************************************/
/**********************************************************/
.EM-right-box_right_side {
    color: white;
    overflow: hidden;
    letter-spacing: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

.EM-right-box_right_side ::-webkit-scrollbar {
    display: none;
}







/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/













/**********************explore row 02 ******************************************/

.explore-more-row-2 {
    /* background-color: yellow; */
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 380px;
    justify-items: center;
    align-items: center;
}

.EM-row-2-frame_01,
.EM-row-2-frame_02,
.EM-row-2-frame_03,
.EM-row-2-frame_04,
.EM-row-2-frame_05 {
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nftdh {
    /* Styles for the first card */
    transition: transform 0.5s;
    background: linear-gradient(209.21deg, #FF9A8B 13.57%, #FF6A88 98.38%);
    box-shadow: rgba(255, 106, 136, 0.3) 0px 20px 40px, rgba(0, 0, 0, 0.05) 0px 1px 3px;
}

.nftdh:hover{
    transform: scale(1.1);
}
.xtrch {
    /* Styles for the second card */
    transition: transform 0.5s;
    background: linear-gradient(209.21deg, #FFD86F 13.57%, #FFBD2E 98.38%);
    box-shadow: rgba(255, 189, 46, 0.3) 0px 20px 40px, rgba(0, 0, 0, 0.05) 0px 1px 3px;
}
.xtrch:hover{
    transform: scale(1.1);
}

.jdvrv {
    /* Styles for the third card */
    transition: transform 0.5s;
    background: linear-gradient(209.21deg, #96C6FF 13.57%, #2E9BFF 98.38%);
    box-shadow: rgba(46, 155, 255, 0.3) 0px 20px 40px, rgba(0, 0, 0, 0.05) 0px 1px 3px;
}
.jdvrv:hover{
    transform: scale(1.1);
}
.rtdcg {
    /* Styles for the fourth card */
    transition: transform 0.5s;
    background: linear-gradient(209.21deg, #80FF72 13.57%, #39FF14 98.38%);
    box-shadow: rgba(57, 255, 20, 0.3) 0px 20px 40px, rgba(0, 0, 0, 0.05) 0px 1px 3px;
}
.rtdcg:hover{
    transform: scale(1.1);
}
.itdgj {
    /* Styles for the fifth card */
    transition: transform 0.5s;
    background: linear-gradient(209.21deg, #FF6FD8 13.57%, #FF2E88 98.38%);
    box-shadow: rgba(255, 46, 136, 0.3) 0px 20px 40px, rgba(0, 0, 0, 0.05) 0px 1px 3px;
}

.itdgj:hover{
    transform: scale(1.1);
}





/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/



.explore-more-row-3 {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.explore-more-button {
    /* border-radius: 15px; */
    /* background: red; */
    background: transparent;
    width: 184px;
    height: 50px;
    letter-spacing: 0.16em;
    font-size: 18px;
    color: white;
}